SOURCE_ENDPOINT=http://127.0.0.1:9000/
SOURCE_ACCESS_KEY=source
SOURCE_SECRET_KEY=password
SOURCE_BUCKET=chest_xray
DESTINATION_ENDPOINT=http://127.0.0.1:9000/
DESTINATION_ACCESS_KEY=destination
DESTINATION_SECRET_KEY=password
DESTINATION_BUCKET=model-output
